# üìä Proyecto: An√°lisis y visualizaci√≥n de la calidad del aire: una exploraci√≥n de contaminantes atmosf√©ricos y su relaci√≥n con el PM2.5
**Curso:** Samsung Innovation Campus ‚Äì M√≥dulo de Python (Ecuador 2025)  
**Seccion:** EC03  

---

## üß© M√≥dulo 1: Adquisici√≥n de Datos

En esta secci√≥n se carga el dataset, se explora su estructura general y se validan los rangos de los contaminantes.

El dataset contiene mediciones de diferentes gases y part√≠culas contaminantes en el aire, registradas con fecha y hora.

### üìò Descripci√≥n general de las columnas del dataset

| Columna | Descripci√≥n | Relevancia |
|----------|--------------|-------------|
| üìÖ **Date** | Fecha y hora del registro | Permite analizar variaciones temporales. |
| üè≠ **CO** | Mon√≥xido de carbono (ppm) | Gas t√≥xico, indicador de combusti√≥n incompleta. |
| üöó **NO** | √ìxido n√≠trico | Se genera en la quema de combustibles f√≥siles. |
| üöô **NO2** | Di√≥xido de nitr√≥geno | Contaminante urbano, precursor del ozono. |
| üå´Ô∏è **O3** | Ozono troposf√©rico | Se forma con NOx + luz solar; irritante respiratorio. |
| üåã **SO2** | Di√≥xido de azufre | Proviene de la quema de carb√≥n y petr√≥leo. |
| ‚òÅÔ∏è **PM2.5** | Part√≠culas finas < 2.5 Œºm | Altamente da√±inas, ingresan a los pulmones. |
| üåßÔ∏è **PM10** | Part√≠culas < 10 Œºm | Menos da√±inas, quedan en v√≠as respiratorias. |
| üçÉ **NH3** | Amon√≠aco | De origen agr√≠cola, contribuye a part√≠culas secundarias. |

In [107]:
# ===== Importar librer√≠as principales ====
import pandas as pd
import numpy as np
import warnings
import importlib
import src.data_acquisition as da
import src.data_processing as dp
import src.data_visualization as dv
import src.data_interpretation as di

# Recargar los m√≥dulos para reflejar cambios recientes
importlib.reload(dp) 
importlib.reload(da)
importlib.reload(dv)
importlib.reload(di)

warnings.filterwarnings('ignore')

In [76]:
# === Listar los archivos disponibles en la carpeta de datos ===
print("="*60)
print("üìÇ Archivos disponibles en la carpeta")
print("="*60)
for file in da.list_data_files("data"):
    print(f"- {file}")

============================================================
üìÇ Archivos disponibles en la carpeta
============================================================
- data\delhiaqi.csv

In [83]:
# Cargar de los datos del archivo CSV en un DataFrame
df_air_quality = da.load_data_csv('data\delhiaqi.csv')

‚úÖ Archivo 'data\delhiaqi.csv' cargado exitosamente.

In [ ]:
print("=" * 60)
print("üìä Exploraci√≥n inicial de los datos")
print("=" * 60)

da.preview_data(df_air_quality, num_rows=5)

============================================================
üìä Exploraci√≥n inicial de los datos
============================================================

üîç Primeras 10 filas del DataFrame:

,date,co,no,no2,o3,so2,pm2_5,pm10,nh3
0,2023-01-01 00:00:00,1655.58,1.66,39.41,5.90,17.88,169.29,194.64,5.83
1,2023-01-01 01:00:00,1869.20,6.82,42.16,1.99,22.17,182.84,211.08,7.66
2,2023-01-01 02:00:00,2510.07,27.72,43.87,0.02,30.04,220.25,260.68,11.40
3,2023-01-01 03:00:00,3150.94,55.43,44.55,0.85,35.76,252.90,304.12,13.55
4,2023-01-01 04:00:00,3471.37,68.84,45.24,5.45,39.10,266.36,322.80,14.19
5,2023-01-01 05:00:00,3578.19,64.37,55.52,14.13,44.35,276.54,336.79,16.21
6,2023-01-01 06:00:00,3578.19,46.94,76.09,33.26,50.54,295.40,357.07,19.25
7,2023-01-01 07:00:00,1468.66,9.83,47.30,105.86,68.66,158.83,182.61,7.09
8,2023-01-01 08:00:00,1161.58,5.81,35.99,125.89,61.99,134.39,153.47,5.51
9,2023-01-01 09:00:00,1161.58,4.58,36.33,134.47,65.80,133.22,152.09,6.02